.header {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;               
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;        
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;             
  box-sizing: border-box;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: black;
 
  padding: 2px 2px;
  width: 50%;
  max-width: 400px;
}

.search-icon {
  color: white;
  font-size: 1rem;
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 0.95rem;
  color: #0d47a1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  background: transparent;
  color: black;
  border: 1px solid black ;
  padding: 8px 16px;         
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.3s ease;
  white-space: nowrap;       
}

.nav-btn:hover {
  background-color: white;
  color: #0d47a1;
}

.login-btn {
  background-color: #ffca28;
  color: #0d47a1;
  border: none;
  font-weight: 600;
  padding: 8px 18px;
}

.login-btn:hover {
  background-color: #ffe082;
}


.signup-btn {
  background-color: #ffca28;
  color: #0d47a1;
  border: none;
  font-weight: 600;
  padding: 8px 18px;
}

.signup-btn:hover {
  background-color: #ffe082;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content {
  position: absolute;
  top: 42px;
  left: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 180px;
  z-index: 1001;
  padding: 6px 0;
}

.dropdown-content button {
  background: white;
  border: none;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
  color: black;
  transition: background 0.2s;
}

.dropdown-content button:hover {
  background: #f1f1f1;
}

body {
  margin: 0;
  padding-top: 80px;
  box-sizing: border-box;
}
